<!-- author ben lawson (balawson@bu.edu) -->
<!--Edited by Kerin Grewal-->
<!doctype html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Photoshare</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %}


{% if tags %}
    Recommended for you:
    <ol>{% for x in tags %}
        <li>{{ x[0] }}</li>
    {% endfor %}</ol>
{% endif %}

{% if message is none %}
    <p> <a href='/register'>Create an account?</a></p>
    <p> <a href="/login">Have an account? Login</a></p>
{% elif message == 'Logged out' %}
    <p> <a href='/register'>Create an account?</a></p>
    <p> <a href="/login">Have an account? Login</a></p>
{% else %}
    <p>Go to<a href="/profile"> profile?</a></p>
{% endif %}


<ul>
<li><a href='/createalbum'>Create an album</a> </li>
<li><a href='/upload'>Upload a photo</a> </li>
<li><a href='/allpix'>Browse photos</a> </li>
<li><a href='/tags'>Search photos by tag</a> </li>

<br>
<li><a href='/logout'>Logout</a> </li>

</ul>

